body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eeeeee !important;
}

.navbar {
  border-radius: 0 !important;
}

.button-detail {
  float: right;
}

.ui.menu .item {
  line-height: 0;
}

a {
  color: black !important;
}